[Unit]
Description=NethVoice Recall on Busy daemon
After=asterisk.service

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/sbin/recallonbusy
User=asterisk
Group=asterisk

[Install]
WantedBy=multi-user.target
